---
import BaseHead from '../components/BaseHead.astro';

import Navbars from '../components/Navbars.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
<body>
    <Navbars>

    </Navbars>
    404
    
</body>
</html>
