---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main style="width:60vw;position: relative;top:5vh;min-height: 95vh;">
			<div style="width: 30vw;float:left;margin-right:10vh;">
				<img src="/index-3.webp" alt="">
			</div>
			<div style="height:40vh;margin-botton:10vh;margin-top:10vh">
				<span style="font-size: xx-large;">
					The past is in the past,<br>
					 and worse is yet to come in the future
				</span>
			</div>

			<div style="float: left;height:15vh">
				<span style="font-size: xx-large;">
					No life,No live
				</span>
			</div>
			
			<!-- <div style="text-align: center;font-size: 1.5rem;color:bisque;background-color: blanchedalmond;">
				<h2>Although I have a lot of things that I am not good at</h2>
				<h2>But I can always tell a different story</h2>
				<h2>Whether in the real world </h2>
				<h2>or in the software world</h2>
				<h2>Although the story is not all smooth sailing</h2>
				<h2>Read it </h2>
				<div style="text-align: right;margin-right: 15%;font-style: italic;">
					by jiacheng.liu
				</div>
				
			</div> -->
		</main>
		<Footer />
	</body>
</html>
