---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Navbars from '../components/Navbars.astro';
import StartPosts from '../components/StartPosts.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <Header title={SITE_TITLE} /> -->
		<Navbars></Navbars>
		<StartPosts></StartPosts>
		<!-- <main style="width:60vw;position: relative;top:20vh;min-height: 95vh;">
			<div style="width: 30vw;float:left;margin-right:10vh;">
				<img src="/index-3.webp" alt="">
			</div>
			 <hr>
			<div style="height:40vh;margin-botton:20vh;margin-top:10vh">
				<span style="font-size: xx-large;">
					The past is in the past,<br>
					 and worse is yet to come in the future
				</span>
			</div>

			<div style="float: left;height:15vh">
				<span style="font-size: xx-large;">
					No life,<br>No live
				</span>
			</div>

		</main>

		<div style="height: 1vh;">
			<hr>
		</div> -->
		<Footer /> 



	</body>
</html>
